<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/user/signup.css}">
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
<title th:text="#{user.signup.title}"></title>
</head>
<body class="bg-light">
  <form method="post" id="signup-form" action="/user/signup"
      class="form-signup" th:object="${signupForm}">
    <h1 class="text-center" th:text="#{user.signup.title}"></h1>
    <div class="mb-3">
      <label for="userId" th:text="#{userId}"></label>
      <input type="text" class="form-control" th:field="*{userId}"
          th:errorclass="is-invalid">
      <div class="invalid-feedback" th:errors="*{userId}"></div>
    </div>
    <div class="mb-3">
      <label for="password" th:text="#{password}"></label>
      <input type="text" class="form-control" th:field="*{password}"
          th:errorclass="is-invalid">
      <div class="invalid-feedback" th:errors="*{password}"></div>
    </div>
    <div class="mb-3">
      <label for="userName" th:text="#{userName}"></label>
      <input type="text" class="form-control" th:field="*{userName}"
          th:errorclass="is-invalid">
      <div class="invalid-feedback" th:errors="*{userName}"></div>
    </div>
    <div class="mb-3">
      <label for="birthday" th:text="#{birthday}"></label>
      <input type="text" class="form-control" th:field="*{birthday}"
          placeholder="yyyy/MM/dd" th:errorclass="is-invalid">
      <div class="invalid-feedback" th:errors="*{birthday}"></div>
    </div>
    <div class="mb-3">
      <label for="age" th:text="#{age}"></label>
      <input type="text" class="form-control" th:field="*{age}"
          th:errorclass="is-invalid">
      <div class="invalid-feedback" th:errors="*{age}"></div>
    </div>
    <div class="mb-3">
      <div class="form-check-inline" th:each="item:${genderMap}">
        <input type="radio" class="form-check-input" th:field="*{gender}"
            th:value="${item.value}" th:errorclass="is-invalid">
        <label th:text="${item.key}" class="form-check-label"></label>
      </div>
      <div class="text-danger" th:if="${#fields.hasErrors('gender')}"
          th:errors="*{gender}"></div>
    </div>
    <input type="submit" th:value="#{user.signup.btn}" class="btn btn-primary w-100 mt-3">

    <!-- formでth:actionを使っていれば以下の行は不要 -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  </form>
</body>
</html>